<!doctype html>
<html lang="fr">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/message'); %>
    <%- body %>
    <%- include('./partials/footer'); %>
</body>
</html>